# Build artifacts
.next/
out/
dist/
build/
coverage/
.turbo/
.vercel/

# Dependencies
node_modules/

# OS/editor
.DS_Store
.vscode/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
logs/
tmp/
